<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        const string DateFormat = "yyyy-MM-dd";
        string dateTimeFormat = $"{DateFormat}THH:mm:ss";

        DateTime now = DateTime.UtcNow;
        DateTime today = now.Date;
        DateTime yesterday = now.Date.AddDays(-1);

        string nowAsDateTime = now.ToString(dateTimeFormat);
        string todayAsDateTime = today.ToString(dateTimeFormat);
        string smsSentParams = $"dateTimeFrom={todayAsDateTime}&dateTimeTo={nowAsDateTime}&skip={0}&take={10}";

        string todayAsDate = today.ToString(DateFormat);
        string yesterdayAsDate = yesterday.ToString(DateFormat);
        string statisticsParams = $"dateFrom={yesterdayAsDate}&dateTo={todayAsDate}&mccList=262,232";
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/">API Help Page</a></li>
                    <li><a href="~/countries.json">Countries list</a></li>
                    <li><a href="~/sms/send.json?from=The+Sender&to=%2B4917421293388&text=Hello+World">Send test SMS</a></li>
                    <li><a href="~/sms/sent.json?@smsSentParams">Get test SMS records</a></li>
                    <li><a href="~/statistics.json?@statisticsParams">Get test statistics</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — SendSMS by Vadim Borovikov</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
