<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/">API Help Page</a></li>
                    <li><a href="~/countries.json">Countries list</a></li>
                    <li><a href="~/sms/send.json?from=The+Sender&to=%2B4917421293388&text=Hello+World">Send test SMS</a></li>
                    <li><a href="~/sms/sent.json">Get all sent SMS</a></li>
                    <li><a href="~/statistics.json">Get overall statistics</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — SendSMS by Vadim Borovikov</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
